.center {
  width: 10rem;
  position: absolute;
  display: block;
  margin: 0 auto;
  height: auto;
  margin-top: -3rem;
}

.image-div {
  margin-top: 10%;
  padding-top: 5rem;
  padding-bottom: 2.72rem !important;
  width: 30%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-mobile {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  font-size: 200%;
  color: #00475c !important;
  font-weight: 500;
  font-family: "Noto Sans";
}


body {
  background-color: #ffff;
  margin: 0;
  padding: 0;
}
    
.bg-div {
  width: 100%;
  height: 100%;
}

.progress {
  background-color: red;
}

.list {
  margin-left: 5%;
  margin-right: 30%;
}

.button{
  width: 10px;
}

.linecontainer{
  transform: translateY(12px); /* center the text horizontally */
  z-index: 8;
  width: 2px;
  height: 500px;
  margin: auto;
  padding-top: .8rem;
}

.line{
  margin-bottom: 105px;
  width: 100px; /* width of the line */
  height: 5px; /* height of the line */
  border: 5px #b7bdf8 solid;
  border-radius: 9px;
}

.linetext{
  position: absolute; /* add absolute positioning to the text */
  top: -28px; /* position the text above the line */
  left: 70%; /* center the text horizontally */
  transform: translateX(-50%); /* center the text horizontally */
  font-size: 18px; /* set the font size */
  font-family: Arial, sans-serif; /* set the font family */
  color: #b7bdf8;
}



.title{
  margin-top: 60%;
  font-size: 300%;
  text-decoration:underline;
}

.gifttext{
  position: absolute;
  margin-top: 4.5rem;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #181926;
  text-align: center;
  color: #cad3f5;
  font-size: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 0.5rem;
}

.gifttext-mobile{
  position: absolute;
  margin-top: 4.5rem;
  width: 40%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #181926;
  text-align: center;
  color: #cad3f5;
  font-size: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 0.5rem;
}

#Termometer {
  z-index: 5;
  animation-direction: reverse;
}
.giftheader {
  position: absolute;
  margin-top: 2rem;
  width: 40%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #181926;
  text-align: center;
  color: #cad3f5;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 0.5rem;
}

.mobile-list{
  size: 1000%;
}

.title-image {
  height: 2rem;
  margin-right: 1rem;
  margin-top: -1rem;
}

.cnavbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  background-color: #b7bdf8;
  margin: 0.8rem;
  position: absolute;
  height: 5rem;
}

.cbutton {
  border-radius: 1rem;
  padding: 1rem;
}

.clist {
  color:#00475c;
  background-color: #b7bdf8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.content {
  border-radius: 1rem;
  padding-bottom: 20rem;
  margin: 1rem;
  background-color: #24273a;
}

.listcontainer {
  margin: 2.5rem;
}

.mobile-content {
  padding-top: 25rem !important;
  margin-top: 8rem !important;
  width: 90% !important;
  margin-right: 5%;
  margin-left: 5%;
}

.goal{
  width: 44%;
  padding-top:1.5rem !important;  
  margin-left: -1rem ;
}
.disabled:hover {
  cursor: not-allowed !important;
}